  <h1>Hi <%= @user.first_name %> <%= @user.last_name %></h1>
===============================================
A bug is assigned to you 
To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!