<h1>Edit User Role </h1>
<%= form_with model: @user do |form| %>
    <div class="field">
        <%= f.label :role %><br />
        <%= f.select :role_ids, Role.pluck(:name)%>
  </div>
  <%= form.submit data:{turbo:false}%>
<% end %>
